

body{
  margin: 0%;
}
.navbare{
  background-color: #FDF0EA;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin: 0%;


}
ul{
  display: inline-flex;    
  list-style-type: none;
  gap: 20px;
  padding-top: 13px;
}
.logo{
  margin-left: 10px;
}
.bt1{
background-color: #EB662B;
color : white;
border-style: none;
border-radius: 10px;
padding: 6px;
margin-left: 20px;
margin-top: 15px;
}


#Jamais {
  color: #EB662B;
}
.first {
 display: flex;
 
  margin:70px;
}
.bt2{
  background-color: #EB662B;
  color : white;
  border-style: none;
  border-radius: 10px;
  padding: 6px;
  }
  .second{
    margin: 70px;
  }
 
.main{
    display: inline-flex;
  }
  div p{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 10px;
       margin-right: 20px;
  }
  footer{
    display: flex table-row;
    background-color: #FDF0EA;
    padding: 15px;
  }
  footer p,h5{
    margin-left: 100px;
  }

